<div class="main-container">
    <div class="header">
        <span class="head">Customer</span>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="New item"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button routerLink="/customerForm" routerLinkActive="active-link" class="menu-icon" mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span mat-button cdkFocusInitial>New</span>
                </button>
            </mat-menu>   
        </div>
    </div>
    
    <div class="header-container">
      <!-- =========Filter============= -->
      <mat-form-field class="search-item" appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input [(ngModel)]="filterValue">

        <button (click)="reloadAgain()" *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="filterValue= '' ">
          <mat-icon matTooltip="Close">close</mat-icon>
          </button>
      </mat-form-field>

      <!-- ================Paginator===================== -->
      <mat-paginator  [pageSizeOptions]="[10,20,100,200]"
          showFirstLastButtons 
          aria-label="Select page of periodic elements">
      </mat-paginator>

    </div>
  
    <!-- ==================Table================= -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort>

        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element; let id = index"> {{id+1}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
          <td mat-cell matRipple *matCellDef="let element"> {{element.customer}} </td>
        </ng-container>

       
    
        <!-- Name Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
          <td mat-cell matRipple *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell matRipple *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
    
        Symbol Column
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
          <td mat-cell matRipple *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <!-- ===============Action================== -->
        <ng-container  matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="text-align: right;">Action</th>
          <td mat-cell *matCellDef="let element let id = index" style="text-align: right;">
            
            <a (click)="editCustomer(element)" style="color: rgb(14, 201, 14)" matTooltip="Edit item">
              <mat-icon class="action p-1 m-0">create</mat-icon>
            </a>
            <a (click)="deleteCustomer(id)" matTooltip="Delete item">
              <mat-icon class="action p-1 m-0" color="warn">delete</mat-icon>
            </a>
            
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

  